/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&display=swap');

/* Bootrap Icons */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');

p {
  font-weight: 300;
}

h2 {
  font-weight: 500;
  /* text-decoration: underline;
  text-decoration-color: #639; */
  margin-top: 3rem;
}

h1 {
  font-weight: 700;
}

a,
a:visited,
a:hover {
  color: #f0f0f0;
  text-decoration: none;
}

.navbar {
  /* sticky top */
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  /* flexbox */
  display: flex;
  justify-content: space-between;
}

.nav-header {
  color: #639;
  margin-right: 5rem;
  font-size: 2rem;
  font-weight: bold;
}

/* content */

.content {
  margin-top: 5rem;
  padding: 1rem;
}

.information {
  margin: 3rem 1rem;
}

.info-base {
  margin: 2rem 1rem;
}

.info-box {
  color: #639;
  width: 10rem;
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
}

.info-text {
  color: #f0f0f0;
  font-size: 2rem;
  margin-top: 1.5rem;
}

/* footer */

.footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.special-button {
  font-size: 1.5rem;
  margin: 4rem 1rem;
  background-color: #639;
  width: 15rem;
  padding: 1rem;
  border: 0.2rem solid #f0f0f0;
  border-radius: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.special-button-icon {
  color: #f0f0f0;
  margin-left: 1rem;
}

.special-button-icon-alt {
  color: #639;
}

.copyright {
  margin: 3rem 0;
  font-size: 1.8rem;
  text-align: center;
}

.activity {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .nav-header {
    margin-right: 5rem;
    font-size: 1rem;
    font-weight: bold;
  }

  .info-base {
    margin: 0.5rem;
  }

  .info-box {
    text-align: left;
  }

  .info-text {
    color: #f0f0f0;
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .special-button {
    margin: 1rem;
  }
}
