@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&display=swap");

p {
  font-weight: 300;
}

h2 {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #639;
}

h1 {
  font-weight: 700;
}

.navbar {
  /* sticky top */
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  /* flexbox */
  display: flex;
  justify-content: space-between;
}

.nav-header {
  color: #639;
  margin-right: 5rem;
}

.content {
  margin-top: 7rem;
  padding: 1rem;
}

.info-box {
  background-color: #f0f0f0;
  padding: 1rem;
  width: 86%;
  border: 0.1rem solid #639;
  border-radius: 1rem;
  margin: 1rem 0;
}

.info-text {
  color: #232425;
}
